.navbar {
  background: #16222a;
  background: -webkit-linear-gradient(59deg, #3a6073, #16222a);
  background: linear-gradient(59deg, #3a6073, #16222a);
  color: white;
}

.nav-link {
  color: white;
}

.img-contact {
  padding: 50px;
}

.embed-responsive-100x400px {
  padding-bottom: 400px;
}
